@import '../../../variables';
.header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: transparent;
        .imgLogo {
            width: auto;
            height: 50px;
            margin: 0 10px;
        }
        .logoNormal {
            color: $primary-color;
        }
        .logoHover {
            color: $active-color;
        }
        .list {
            display: flex;
            list-style: none;
            align-items: center;
            ul, li {
                padding: 0;
                margin: 0;
            }
            .item {
                margin: 5px 10px;
                .itemLink {
                    color: $primary-color;
                    text-decoration: none;
                }
                .itemLink:hover {
                    color: $active-color;
                }
                .itemIcon {
                    height: 14px;
                    width: auto;
                    margin: 0 5px;
                }
            }
        }        
        .btnMenu {
            display: none;
            .button {
                svg {
                    font-size: 24px;
                }
            }
        }
    }
}
@media (max-width: 700px) {
    .header {
        .navbar {
            .list {
                position: absolute;
                top: 70px;
                right: -300px;
                flex-direction: column;
                align-items: center;
                text-align: left;
                padding: 10px 0;
                background-color: $secondary-color;
                border-radius: 7px;
                border: 0.5px solid;
                box-shadow: 0.1px 0.1px $text-color;
                .item {
                    width: 100%;
                    margin: 0 10px;
                    .itemLink {
                        color: $text-color;
                        background-color: $secondary-color;
                        display: block;
                        padding: 5px 15px;
                    }
                    .itemLink:hover {
                        color: $secondary-color;
                        background-color: $primary-color;
                    }
                }
            }
            .list.active {
                right: 0;
            }
            .btnMenu {
                display: block;
            }
        }
    }
}