@import '../../../variables';
.auth {
    border: 1px solid $secondary-color;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 5px;
    max-width: 500px;
    width: 90%;
    .loginOrSignup {
        width: 100%;
        padding: 20px;
    }
}