@import '../../../variables';
.dropdownTranslation {
    padding: 0;
    margin: 0 10px;
    align-self: center;
    .btnTranslation {
        svg {
            font-size: 20px;
        }
    }
}
.menuTranslation {
    border: 0.5px solid;  
    box-shadow: 0.1px 0.1px $text-color;
    background-color: $secondary-color !important;
    right: 0;
    left: auto !important;
    .itemTranslation {
        color: $text-color;
        background-color: $secondary-color;
    }
    .itemTranslation:hover {
        color: $secondary-color;
        background-color: $primary-color;
    }
}