@import 'variables';
html, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.5px;
}
html, body, #root {
  background-color: $off-white-color;
  height: 100%;
}
ul, li {
  padding: 0;
  margin: 0;
}
.text {
  color: $text-color;
  padding: 0;
  margin: 0;
}
.titleText {
  display: flex;
  flex-direction: row;
}
.primaryText {
  color: $primary-color;
}
.secondaryText {
  color: $secondary-color;
}
.boldText {
  font-weight: bold;
}
.italicText {
  font-style: italic;
}
.centerText {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.smallText {
  font-size: 14px;
}
.bigText {
  font-size: 24px;
}
.veryBigText {
  font-size: 35px;
}
.displayFlex {
  display: flex;
}
.flexWrap {
  flex-wrap: wrap;
}
.titleIcon {
  width: 25px;
  height: auto;
  margin: 5px;
}
.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.formInput, .formSelect {
  margin: 5px;
  label {
    color: $primary-color;
    margin-bottom: 5px;
    float: left;
  }
  input, select {
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    outline: none;
    padding: 5px 10px;
  }
}
.formSpacing {
  margin: 20px 0px;
  width: 100%;
}
.hideLabel {
  margin: 3px 0px;
}
.formButton {
  color: $off-white-color;
  border: none;
  border-radius: 7px;
  padding: 5px 10px;
  outline: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.formButton:hover {
  background-color: $off-white-color;
  padding: 4px 9px;
}
.primaryButton {
  background-color: $primary-color;
}
.primaryButton:hover {
  color: $primary-color;
  border: 1px solid $primary-color;
}
.secondaryButton {
  background-color: $secondary-color;
}
.secondaryButton:hover {
  color: $secondary-color;
  border: 1px solid $secondary-color;
}
.primaryLink {
  color: $primary-color;
}
.primaryLink:hover {
  color: $primary-active-color;
}
.secondaryLink {
  color: $secondary-color;
}
.secondaryLink:hover {
  color: $secondary-active-color;
}
a, .link {
  cursor: pointer;
  text-decoration: none;
}
.btnFilter {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 8px 10px;
}
@media only screen and (max-width: 500px) {
  .formInput {
    input, select {
      word-wrap: break-word;
    }
  }
}
@media only screen and (max-width: 580px) {
  .home {
    .titleText {
      flex-direction: column;
    }
  }
}